#flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_competences
{
    font-size: 12px;
    margin: 10px;
    border-bottom: 1px solid black;
}

.section_competences:last-child
{
    border-bottom: none;
}

table
{
    margin-left: 15px;
    line-height: 2em;
    border-left: 2px solid black;
    padding-left: 20px;
    font-size: 14px;
}

#infos
{
    width: 200px;
    border: 1px solid black;
    color: #fff;
    padding-top: 15px;
    padding-left: 5mm;
    text-align: start;
    background-color: rgb(64, 101, 146);
}

#infos + article + p + span.donnees
{
    margin: 10px !important;
    
}

.donnees span
{
    font-size: 12px;
}

#profile
{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#competence
{
    width: 500px;
    border: 1px solid black;

}

*
{
    box-sizing: border-box;
}
 
.timeline, .timeline1
{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.timeline::after
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 3%;
    margin-left: -3px;
}


.timeline1::after
{
    content: '';
    position: absolute;
    width: 2px;
    height: 360px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 3%;
    margin-left: -3px;
}

.container {
    padding: 15px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
  }
  
  
  .container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 3px;
    background-color: rgb(3, 3, 3);
    border: 4px solid rgb(253, 253, 253);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .right {
    left: 2%;
  }
  

  .right::after {
    left: -7px;
  }
  

  .content {
    padding: 0px 20px;
    background-color: rgb(253, 252, 252);
    position: relative;
    border-radius: 6px;
  }
  
  .timelin-items-details-description
  {
      margin-left: 30%;
     margin-top: -30px;
  }  

  
  .timelin-items-details-description h4
  {
    color: dodgerblue;
  }  
  
  .timelin-items-details-description ul
  {
      list-style-type: circle;
  }  

  .star {
    -webkit-clip-path: polygon(50% 0,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);
    clip-path: polygon(50% 0,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%)
}

.w-6 , .h-6
{
    width: 1.5rem;
}
.align-baseline
{
    vertical-align: baseline;
}
